@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #e6b122;
	color: #ffffff;
	font-family: 'Press Start 2P';
	margin: 0;
	overflow: hidden;
	text-align: center;
}

a {
	color: #ffffff;
}

h1 {
	line-height: 1.4;
}