@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
	box-sizing: border-box;
	touch-action: manipulation;
}

body {
	background-color: #e6b122;
	color: #ffffff;
	font-family: 'Press Start 2P';
	margin: 0;
	overflow: hidden;
	text-align: center;
}

a {
	color: #ffffff;
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: x-large;
	}
	h4 {
		font-size: medium;
	}
}